<div class="sidebar" data-color="orange">
  <div class="logo" style="padding: unset">
    <a
      href="/homePageTeacher"
      class="simple-text logo-mini"
      style="width: 100px; padding-left: 10px"
    >
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li
        class="<?=($activePage=='dashboard' || $activePage=='new_test' || $activePage=='test_details' || $activePage=='add_question' || $activePage=='student_test_credentials')? 'active': ''; ?>"
      >
        <a onclick="dashboard(`/homePageTeacher`)">
          <i class="now-ui-icons shopping_shop"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="<?=($activePage=='add_data')? 'active': ''; ?>">
        <a onclick="dashboard(`/add_data`)">
          <i class="now-ui-icons business_badge"></i>
          <p>Add Class / Student</p>
        </a>
      </li>

      <li class="<?=($activePage=='view_data')? 'active': ''; ?>">
        <a onclick="dashboard(`/view_data`)">
          <i class="now-ui-icons design_bullet-list-67"></i>
          <p>View Data</p>
        </a>
      </li>
      <li class="<?=($activePage=='logout')? 'active': ''; ?>">
        <a onclick="dashboard(`/logout`)">
          <i class="now-ui-icons media-1_button-power"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<script>
  function dashboard(route) {
    location.href = route;
  }
</script>
